# For God so loved the world, that He gave His only Begotten Son, that whosoever believeth in Him should not perish but have everlasting life. - John 3:16 (KJV)

/target/
/.metropoleluya-chirho/
*.sqlite
*.sqlite-shm
*.sqlite-wal

